@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: 按照语言不同，调整不同样式 */
.prose {
  /* 行距 (line-height) */
  line-height: 1.3;
}

.prose p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.prose h1 {
    font-size: 1.75rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose h2 {
    font-size: 1.5rem;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.prose h3 {
    font-size: 1.25rem;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

.prose ul,
.prose ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  border-left-width: 4px;
}

.prose code {
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
}

.prose pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  border-radius: 0.5em;
}